.education{
    position: absolute;
    width: 700px;
    height: 750px;
    margin-top: 10px;
    margin-left: 715px;
    border: 2px solid black;
}
.myinformation {
    position: absolute;
    border: 2px solid black;
    width: 700px;
    height: 750px;
    margin-left: 2px;
    margin-top: 10px;
    text-align: center;
}
.Contact{
    position: absolute;
    background-color: chartreuse;
    width: 80px;
    height: 20px;
    padding: 20px 30px;
    font-size: 14px;
    text-align: center;
    margin-left: 1000px;
    margin-top: 620px;
    border-radius: 15px;
}
.Contact:hover{
    background: rgb(107, 182, 107);
}
a:hover{
    font-size: 15px;
}